body {
    text-align: center;
}

.modal-master {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.hide {
  display: none;
}

.modal {
  width: 60%;
  margin: 25% auto;
  padding: 20px;
  color: #039;
  font-family: sans-serif;
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid #c33;
}

.modal h1 {
  font-size: 32px;
}

.loser {

}

.winner {

}

button {
  color: #c33;
  font-size: 18px;
  font-family: sans-serif;
  text-transform: uppercase;
  border-radius: 8px;
  border: 2px solid #c33;
}

.lives-count {
  width: 505px;
  height: 100px;
  margin: 0 auto;
  text-align: left;
}
